.pageNotFound {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        url("https://1.bp.blogspot.com/-CBKhKDI0RpE/Vx0PvYU0OmI/AAAAAAAAvTo/LywhuhGfRpU___uRt8mg4zcW2Eg17LfgACLcB/s1600/Bridge%2BToo%2BFar%2B11a.jpg");
    background-size: cover;
}

.pageTitle {
    margin-bottom: 400px;
    color:rgb(76, 63, 63);
    font-family: 'Smooch';
    font-size: 60px
}